$width-medium : "screen and (max-width: 599px)";
$width-large : "screen and (min-width: 600px) and (max-width: 1439px)";
$width-huge : "screen and (min-width: 1440px)";


.some_part {
	width: 100px; height: 100px;
	
	@media #{$width-medium} {
		background-color: #acf
	}
	@media #{$width-large} {
		background-color: #afc
	}
	@media #{$width-huge} {
		background-color: #fac
	}
}